.media-container{
	position: relative;
	margin: 2em 0;
}
.delete_media_btn_class{
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FF4C4C;
	color: white;
	padding: 10px;
	border-radius: 50%;
	border: none;
	text-decoration: none;
}

.delete_media_btn_class:hover{
	background-color: #ff0d0d;
}