<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Stories - Edit Profile</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/homepageStyles.css}">
    <link rel="stylesheet" th:href="@{/css/addPostsStyles.css}">
</head>
<body>
	<div class="header-container">
		<div class="left-alignment-header-container common-header-container">
			<h1>Welcome, <span th:text="${userName}"></span></h1>
		</div>
		<div class="center-alignment-header-container common-header-container">
			<img class="app_logo_img" th:src="@{/images/plantstories_logo.png}" alt="#">
			<div class="header-inner-text-container">
				<h1>Plant Stories</h1>
			</div>
		</div>
		<div class="right-alignment-header-container common-header-container">
			<form class="right-alignment-header-container-mobile-logout-form" action="/logout" method="post">
			    <button type="submit" class="form_btn_logout">Logout</button>
			</form>
			<button class="mobile_menu_btn" onclick="menuBtn()">
				<img id="mobile_menu_img_id" class="mobile_menu_icon" alt="#" th:src="@{/images/mobile_menu_icon.png}">
			</button>
		</div>
	</div>
	
	<div id="mobile_menu_container_id" class="mobile_menu_container">
			<a href="/profile">Profile</a>
			<a href="/">Feed</a>
			<a href="/addPost">Post</a>
			<a href="/showMembers">Members</a>
			<a href="/showAbout">About</a>
			<a href="/ask4help">Ask4Help</a>
			<a href="/projectIdeas">Project Ideas</a>
			<a href="/projectTracker">Project Tracker</a>
			<a href="/inventory">Inventory</a>
		<form action="/logout" method="post">
			    <button type="submit" class="form_btn_logout">Logout</button>
		</form>
	</div>
	
	<div id="mobile-left-alignment-header-container-id" class="mobile-left-alignment-header-container common-header-container">
			<h1>Welcome, <span th:text="${userName}"></span></h1>
	</div>
	
	<div class="body_container">
		<div class="menu_desktop_container">
			<a href="/profile">Profile</a>
			<a href="/">Feed</a>
			<a href="/addPost">Post</a>
			<a href="/showMembers">Members</a>
			<a href="/showAbout">About</a>
			<a href="/ask4help">Ask4Help</a>
			<a href="/projectIdeas">Project Ideas</a>
			<a href="/projectTracker">Project Tracker</a>
			<a href="/inventory">Inventory</a>
		</div>
		<div class="feed_container">
			 <h1>Edit Profile</h1>
        <p class="disclaimer">Share as much or as little as you like – your story is yours to tell.</p>

        <!-- Form starts here -->
        <form th:action="@{/editProfile}" th:object="${profileDTO}" method="post" enctype="multipart/form-data">
            
            <!-- Username -->
            <label for="username">
                Username <span style="color: red;">*</span>:
            </label>
            <input type="text" id="username" name="username" th:field="*{username}" required/>
			<p class="error" th:text="${userNameExistsError}"></p>
            
            <!-- Bio -->
            <label for="bio">
                User Information / Bio: <span style="color: red;">*</span>:
            </label>
            <textarea id="bio" name="bio" th:field="*{bio}" rows="20"></textarea>
			<p class="error" th:if="${#fields.hasErrors('bio')}" th:errors="*{bio}"></p>
            
            

            <!-- Submit Button -->
            <button class="createPostBtn" type="submit">Edit Profile</button>
        </form>
		</div>
	</div>
	
    
    <script type="text/javascript" th:src="@{/js/home.js}"></script>
</body>
</html>