<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Stories - User Profile</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/homepageStyles.css}">
    <link rel="stylesheet" th:href="@{/css/profileStyles.css}">
</head>
<body>
	<div class="header-container">
		<div class="left-alignment-header-container common-header-container">
			<h1>Welcome, <span th:text="${userName}"></span></h1>
		</div>
		<div class="center-alignment-header-container common-header-container">
			<img class="app_logo_img" th:src="@{/images/plantstories_logo.png}" alt="#">
			<div class="header-inner-text-container">
				<h1>Plant Stories</h1>
			</div>
		</div>
		<div class="right-alignment-header-container common-header-container">
			<form class="right-alignment-header-container-mobile-logout-form" action="/logout" method="post">
			    <button type="submit" class="form_btn_logout">Logout</button>
			</form>
			<button class="mobile_menu_btn" onclick="menuBtn()">
				<img id="mobile_menu_img_id" class="mobile_menu_icon" alt="#" th:src="@{/images/mobile_menu_icon.png}">
			</button>
		</div>
	</div>
	
	<div id="mobile_menu_container_id" class="mobile_menu_container">
		<a href="/profile">Profile</a>
		<a href="/">Feed</a>
		<a href="/addPost">Post</a>
		<a href="/ask4help">Ask4Help</a>
		<form action="/logout" method="post">
			    <button type="submit" class="form_btn_logout">Logout</button>
		</form>
	</div>
	
	<div id="mobile-left-alignment-header-container-id" class="mobile-left-alignment-header-container common-header-container">
			<h1>Welcome, <span th:text="${userName}"></span></h1>
	</div>
	
	<div class="body_container">
		<div class="menu_desktop_container">
			<a href="/profile">Profile</a>
			<a href="/">Feed</a>
			<a href="/addPost">Post</a>
			<a href="/ask4help">Ask4Help</a>
		</div>
		<div class="feed_container">
			<h1>Profile</h1>
			<div class="straight_line_class"></div>
		        <div class="user_bio_and_profile_pic_container">
		        	<div class="bio_container">
		        		<label for="userInfoId">User Information/ Bio:</label>
		        		<textarea id="userInfoId" rows="20" th:text="${userBio}" readonly></textarea>
		        	</div>
		        	<div class="profile_picture_and_name_container">
		        		<img alt="user_profile_pic" th:src="@{/images/plantstories_logo.png}">
		        		<h4 th:text="${userName}"></h4>
		        	</div>
		        </div>	
		        <h1>Wild Roots Community Garden</h1>
	        <button class="action-button"
			        th:onclick="'location.href=\'showEditProfile\''">
			    Edit Profile
			</button>


        </div>
        
        <div class="user_posts_container">
        	<h1>Your Posts</h1>
		        <!-- Loop through posts -->
		        <div class="post-card" th:each="post : ${feedPosts}">
		            <!-- Post Header -->
		            <a th:id="${post.postId}"></a>
		            <div class="post-header">
		                <div class="header-left">
		                    <img class="profile-image" th:src="@{/images/plantstories_logo.png}" alt="User Image">
		                    <span class="username" th:text="${post.username}"></span>
		                </div>
		                <div class="header-right">
		                    <span class="posted-date" th:text="${post.getFormattedCreatedDate()}"></span>
		                </div>
		            </div>
		            <hr>
		            <!-- Post Body -->
		            <div class="post-body">
		                <h2 class="post-title" th:text="${post.postTitle}"></h2>
		                <div class="post-details">
						    <p th:if="${post.postDescription != null and !#strings.isEmpty(post.postDescription)}">
						        <span class="subheading">Post Description:</span> <span class="content" th:text="${post.postDescription}"></span>
						    </p>
						    <p th:if="${post.careRoutine != null and !#strings.isEmpty(post.careRoutine)}">
						        <span class="subheading">Care Routine:</span> <span class="content" th:text="${post.careRoutine}"></span>
						    </p>
						    <p th:if="${post.reflection != null and !#strings.isEmpty(post.reflection)}">
						        <span class="subheading">Reflection:</span> <span class="content" th:text="${post.reflection}"></span>
						    </p>
						    <p th:if="${post.mood != null and !#strings.isEmpty(post.mood)}">
						        <span class="subheading">Mood:</span> <span class="content" th:text="${post.mood}"></span>
						    </p>
						    <p th:if="${post.weather != null and !#strings.isEmpty(post.weather)}">
						        <span class="subheading">Weather:</span> <span class="content" th:text="${post.weather}"></span>
						    </p>
						    <p th:if="${post.previousStoryAchievements != null and !#strings.isEmpty(post.previousStoryAchievements)}">
						        <span class="subheading">Achievements:</span> <span class="content" th:text="${post.previousStoryAchievements}"></span>
						    </p>
						</div>

		            </div>
		            <!-- Media Section -->
		            <div class="post-media">
					    <div class="media-container" th:each="media : ${post.mediaList}">
					        <!-- Image Preview -->
					        <img th:if="${media.mediaType.startsWith('image')}" 
					             th:src="${media.base64MediaData}" 
					             alt="Post Media" 
					             class="media-preview" 
					             onclick="showMediaFullscreen(this)">
					             
					        <!-- Video Preview -->
					        <video th:if="${media.mediaType.startsWith('video')}" 
					               class="media-preview-video" 
					               controls 
					               onclick="showVideoFullscreen(this)">
					            <source th:src="${media.base64MediaData}" th:type="${media.mediaType}">
					            
					        </video>
					    </div>
					</div>
		            <!-- Post Actions -->
		            <div class="post-actions">
		                <button class="action-button"
						        th:onclick="'location.href=\'/showEditPost?postId=' + ${post.postId} + '\''">
						    Edit Post
						</button>
						<form th:action="@{/deletePost}" method=post>
    						<input type="hidden" name="postId" th:value="${post.postId}">
						    <button class="action-button action-button-red" 
						        type="submit">
						    Delete Post
							</button>
						</form>

		                
		                <button class="action-button" onclick="shareStory(this)"
						        data-title="${post.postTitle}" 
						        data-description="${post.postDescription}" 
						        th:data-url="'/showThisUserProfile?page='+${currentPage} +'&fragment=' + ${post.postId} +'&userName=' + ${userName}">
						    Share
						</button>
				
		            </div>
		            
        			<!-- Comments Section -->
			        <div class="comments-container" th:id="'comments-container-' + ${post.postId}" style="display: none;">

			            <h3>Comments</h3>
			            <div class="comment" th:each="comment : ${post.commentList}">
			                <p>
			                    <strong th:text="${comment.username}"></strong>: 
			                    <span th:text="${comment.commentText}"></span>
			                </p>
			                <div class="comment-reactions" th:if="${comment.selectedReactions != null}">
			                    <span th:each="reaction : ${comment.selectedReactions}" th:text="${reaction} + ' '"></span>
			                </div>
			            </div>
			        </div>
        			
        			
		        </div>
		        
		        <!-- Pagination Controls -->
				<div class="pagination">
				    <button th:if="${currentPage != null and totalPages != null and currentPage > 0}" 
				            th:onclick="'location.href=\'/profile?page=' + (${currentPage} - 1) + '\''">
				        Previous
				    </button>
				    <span th:if="${currentPage != null and totalPages != null}" 
				          th:text="'Page ' + (${currentPage} + 1) + ' of ' + ${totalPages}">Page 1 of 1</span>
				    <button th:if="${currentPage != null and totalPages != null and currentPage < totalPages - 1}" 
				            th:onclick="'location.href=\'/profile?page=' + (${currentPage} + 1) + '\''">
				        Next
				    </button>
				</div>
        </div>
	    </div>
		
	    <!-- Full-Screen Media Modal -->
		<div id="fullscreen-modal" class="modal" onclick="closeMediaFullscreen()">
		    <img id="modal-image" class="modal-content" style="display: none;">
		    <video id="modal-video" class="modal-content" controls style="display: none;"></video>
		</div>
	
	
    <script type="text/javascript" th:src="@{/js/home.js}"></script>
</body>
</html>